body{
background-color: black;
margin: 0;


}



.obrigado{
    color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 200px;
    font-size: 50px;
    flex-direction: column;

}



body {
	background: black;
	overflow: hidden;
	color: white;
}

canvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}



.fogos{
    padding-top: 200px;
    padding-left: 50px;
    font-size: 40px;
}