
body{
    background-image: url('img/R.jpg');
    background-size: cover;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.titulo
{
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sobre-min 
{
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;

}

.skills  
{
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.contatos
 {
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}