:root{
    font-family: black;
    color:preto(black) ;
    }
    .body{
    font-family: 'Roboto', sans-serif;
    
    
    }
    .body {
        display: flex;
        border-block-end: revert;
        flex-direction: row;
        justify-content: space-around;
    
    }

    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
   }
    